<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.personsystem.dao.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.personsystem.entity.Department">
    <id column="did" jdbcType="INTEGER" property="did" />
    <result column="dname" jdbcType="VARCHAR" property="dname" />
    <result column="deptInfo" jdbcType="VARCHAR" property="deptinfo" />
  </resultMap>
  <sql id="Base_Column_List">
    did, dname, deptInfo
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_department
    where did = #{did,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_department
    where did = #{did,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.personsystem.entity.Department">
    insert into t_department (did, dname, deptInfo
      )
    values (#{did,jdbcType=INTEGER}, #{dname,jdbcType=VARCHAR}, #{deptinfo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.personsystem.entity.Department">
    insert into t_department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="did != null">
        did,
      </if>
      <if test="dname != null">
        dname,
      </if>
      <if test="deptinfo != null">
        deptInfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="did != null">
        #{did,jdbcType=INTEGER},
      </if>
      <if test="dname != null">
        #{dname,jdbcType=VARCHAR},
      </if>
      <if test="deptinfo != null">
        #{deptinfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.personsystem.entity.Department">
    update t_department
    <set>
      <if test="dname != null">
        dname = #{dname,jdbcType=VARCHAR},
      </if>
      <if test="deptinfo != null">
        deptInfo = #{deptinfo,jdbcType=VARCHAR},
      </if>
    </set>
    where did = #{did,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.personsystem.entity.Department">
    update t_department
    set dname = #{dname,jdbcType=VARCHAR},
      deptInfo = #{deptinfo,jdbcType=VARCHAR}
    where did = #{did,jdbcType=INTEGER}
  </update>
</mapper>